<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/static/styles.css" />
  <script src="/static/main.js" type="module"></script>
</head>

<body>
  <h1>SL Time Table</h1>
  <section class="section-search">
    <form id="site-search-form">
      <label class="form-label" for="site-search-input">Search for a site</label>
      <input class="form-input" id="site-search-input" type="text" />
    </form>
    <ul class="site-results">

    </ul>
  </section>
</body>

</html>